{% extends "pages/page.html" %}
{% load dajaxice_templatetags i18n staticfiles %}
{% block extra_js %}
<script type="text/javascript"
        src="{{ STATIC_URL }}connect_four/js/jquery-1.9.1.min.js"></script>
{% dajaxice_js_import %}
{% if game and not game.over %}
<script type="text/javascript">
function chip_over() {
    connect_four.get_chip_column($(this))
        .filter('.free')
        .addClass('highlighted')
        .first()
        .addClass('last');
}

function chip_out() {
    connect_four.get_chip_column($(this)).removeClass('highlighted last');
}

function cb_chip_click(data) {
    var move = data.move, victory = data.victory, draw = data.draw;
    if (move) {
        var $chip = connect_four.get_chip(data.move.row, data.move.col);
        connect_four.claim($chip, 2);
    }
    if (victory) {
        connect_four.victory(victory);
    } else if (draw) {
        connect_four.draw(draw);
    }
}

function chip_click() {
    var $chip = $(this),
        $free_chip = connect_four.get_chip_column($chip).filter('.free').first();
    if ($free_chip.length) {
        connect_four.claim($free_chip, connect_four.next_player);
    }
}

function ConnectFour() {
    this.over = {{ game.over|yesno:"true,false" }};
    this.pk = {{ game.pk }};
    this.next_player = {{ game.next_player }};
    this.computer_opponent = {{ game.player2|yesno:"true,false" }};
}
ConnectFour.prototype.init = function () {
    this.chips = $('div.chip');
    this.chips
        .hover(chip_over, chip_out)
        .on('click', chip_click);
};
ConnectFour.prototype.get_chip = function (row, col) {
    return this.chips.filter('.row' + row + '.col' + col);
};
ConnectFour.prototype.get_chip_column = function ($chip) {
    return this.chips.filter('.col' + $chip.data('col'));
};
ConnectFour.prototype.victory = function (victory) {
    $(victory.coords).each(function (i, v) {
        connect_four.get_chip(v[0], v[1]).addClass('victory');
    });
    this.game_over(victory.message);
};
ConnectFour.prototype.draw = function (draw) {
    this.game_over(draw.message);
}
ConnectFour.prototype.game_over = function (message) {
    this.over = true;
    this.chips
        .off('mouseenter mouseleave')
        .removeClass('highlighted');
    $('p.msg').html(message);
    alert(message);
}
ConnectFour.prototype.toggle_next_player = function () {
    this.next_player = (this.next_player === 1) ? 2 : 1;
    return this.next_player;
};
ConnectFour.prototype.claim = function ($chip, player) {
    if (this.over || !$chip.length) {
        return;
    }
    $chip.addClass('player' + player);
    $chip.removeClass('free');
{#    if (player === 1) {#}
    if (!(player !== 1 && this.computer_opponent)) {
        Dajaxice.connect_four.claim(cb_chip_click, {
            game: this.pk,
            row: $chip.data('row'),
            col: $chip.data('col'),
            player: player
        });
    }
    connect_four.toggle_next_player();
};

var connect_four = new ConnectFour();

$(document).ready(function () {
    connect_four.init();
});
</script>
{% endif%}
{% endblock %}

{% block extra_css %}
<style>
div.board {
    width: {{ game.width_in_pixels }}px;
    height: {{ game.height_in_pixels }}px;
    position: relative;
    border: thin solid black;
}
div.chip {
    position: absolute;
    width: {{ CHIP_WIDTH }}px;
    height: {{ CHIP_HEIGHT }}px;
    background-image: url("{{ STATIC_URL }}connect_four/img/chip.png");
}
div.chip.highlighted.free {
{#    border: thick dotted black;#}
    background-image: url("{{ STATIC_URL }}connect_four/img/chip.png"), url("{% static 'connect_four/img/vertical_line.png' %}");
}
div.chip.highlighted.free.last {
    background-image: url("{{ STATIC_URL }}connect_four/img/chip.png"), url("{% static 'connect_four/img/vertical_arrow.png' %}");
}
.player1 {
    background-color: khaki;
}
.player2 {
    background-color: brown;
}
div.chip.victory {
    background-image: url("{{ STATIC_URL }}connect_four/img/check-mark.png"), url("{{ STATIC_URL }}connect_four/img/chip.png");
}
td.player1, td.player2 {
    width: 50px;
}
</style>
{% endblock %}

{% block main %}
{% if game %}
<div class="game-info">
<table>
    <tr><td>{% trans "player 1"%}:</td> <td>{{ player1_label }}</td> <td class="player1"></td></tr>
    <tr><td>{% trans "player 2"%}:</td> <td>{{ player2_label }}</td> <td class="player2"></td></tr>
    <tr><td>{% trans "chips needed" %}:</td> <td>{{ game.victory }}</td></tr>
</table>
</div>

<div id="board" class="board">
{% for row in game.get_state %}
    {% for chip in row %}
        <div
            id="{{ chip.id }}"
            class="chip row{{ chip.row }} col{{ chip.col }}{{ chip.player_class }}{{ chip.victory_class }}"
            style="margin-left: {{ chip.margin_left }}px;
                   margin-top: {{ chip.margin_top }}px;"
            data-row="{{ chip.row }}" data-col="{{ chip.col }}"
            >
        </div>
    {% endfor %}
{% endfor %}
</div>

<p class="msg">
    {% if game.over %} {{ game.get_over_message|safe }} {% endif %}
</p>

{% else %}
{{ view.model.get_no_games_message|safe }}
{% endif %}
{% endblock %}
